


<mat-card style="margin-left: 20%; margin-right: 20%;">
  <mat-card-header class="program-name">
    <h1 matLine>{{ workoutProgram$.program.name }}</h1>
  </mat-card-header>
  <mat-card-header>
    <h3 matLine>{{ workoutProgram$.program.description }}</h3>
  </mat-card-header>
  <wt-create-exercise></wt-create-exercise>
</mat-card>

<a (click)="gotoCreateActivity()">
  <button mat-button >Create activity</button>
</a>

<a (click)="gotoActivities()">
    <button mat-button >Go to Activities</button>
</a>

  <mat-list> 
    <mat-list-item *ngFor="let exercise of workoutProgram$.program.exercises">
        <p > {{ exercise.name }} </p>
        <p > {{ exercise.description }}</p>
        <p > {{ exercise.repstime }}</p>
        <p > {{ exercise.sets }}</p>
    </mat-list-item>
  </mat-list>

  <!-- <table mat-table [dataSource]="workoutProgram$.program.exercises" class="mat-elevation-z8">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{ exercise.name }} </td>
      </ng-container>
    
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{ exercise.description }} </td>
      </ng-container>
    
      <ng-container matColumnDef="repetitions">
        <th mat-header-cell *matHeaderCellDef> Repetitions </th>
        <td mat-cell *matCellDef="let element"> {{ exercise.repstime }} </td>
      </ng-container>
    
      <ng-container matColumnDef="sets">
        <th mat-header-cell *matHeaderCellDef> Sets </th>
        <td mat-cell *matCellDef="let element"> {{ exercise.sets }} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table> -->