


<mat-card style="margin-left: 20%; margin-right: 20%;">
  <mat-card-header class="program-name">
    <h1 matLine>{{ workoutProgram$.program.name }}</h1>
  </mat-card-header>
  <mat-card-header>
    <h3 matLine>{{ workoutProgram$.program.description }}</h3>
  </mat-card-header>
  <wt-create-exercise></wt-create-exercise>
</mat-card>

<a (click)="gotoCreateActivity()">
  <button mat-button >Create activity</button>
</a>

<a (click)="gotoActivities()">
    <button mat-button >Go to Activities</button>
</a>

  <mat-list> 
    <mat-list-item *ngFor="let exercise of workoutProgram$.program.exercises">
        <p > {{ exercise.name }} </p>
        <p > {{ exercise.description }}</p>
        <p > {{ exercise.repstime }}</p>
        <p > {{ exercise.sets }}</p>
    </mat-list-item>
  </mat-list>
