@import '~@angular/material/theming';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$wt-primary: mat-palette($mat-cyan);
$wt-accent:  mat-palette($mat-cyan, A200, A100, A400);

// The warn palette is optional (defaults to red).
$wt-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$wt-theme:      mat-light-theme($wt-primary, $wt-accent, $wt-warn);
$wt-background: map-get($wt-theme, background);
$wt-foreground: map-get($wt-theme, foreground);
$wt-typography: mat-typography-config();
