<p>create workout activity works</p>
<mat-card>
  <mat-card-content>
    <form>
      <mat-form-field>
          <input matInput [(ngModel)]="newActivity.name"
          name="name"
          required
          placeholder="Name">
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="newActivity.description"
          name="description"
          required
          placeholder="Description">
      </mat-form-field>

      <mat-form-field>
          <input matInput [(ngModel)]="newActivity.extra"
          name="extra"
          placeholder="Extra">
      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="createWorkoutActivity()">Register</button>
  </mat-card-actions>
</mat-card>
